In [3]:
import pandas as pd
movies = pd.read_csv('movies.csv', usecols=['movieId', 'title'])

In [4]:
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [6]:
rating = pd.read_csv('ratings.csv', usecols=['userId', 'movieId', 'rating'])
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [8]:
movies.shape

(9742, 2)

In [9]:
rating.shape

(100836, 3)

In [13]:
## create a matrix movies x userId and fill rating in the cells
# moviesId -> in row index
# userId -> in column index
# rating -> in cells
movies_users = rating.pivot(index='movieId', columns='userId', values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
from scipy.sparse import csr_matrix

In [21]:
## create a sparse matrix of "movies_users" dataset
mat_movies = csr_matrix(movies_users.values)

## Implement machine learning Algo

In [22]:
from sklearn.neighbors import NearestNeighbors

In [23]:
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors= 20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [25]:
# import basic AI library to actually increase our searching process
from fuzzywuzzy import process

In [26]:
def recommender(movie_name, data, n):
    idx = process.extractOne(movie_name,movies['title'])[2] # only take movie index number
    print('Movie Selected : ', movies['title'][idx], 'Index : ', idx)
    print('Searching for recommondation .... please wait')
    distance, indices = model.kneighbors(data[idx], n_neighbors=n)
    for i in indices:
        print(movies['title'][i].where(i!=idx))

In [27]:
recommender('toy story', mat_movies, 10)

Movie Selected :  Toy Story (1995) Index :  0
Searching for recommondation .... please wait
0                                                     NaN
2353                                 'night Mother (1986)
418                                  Jurassic Park (1993)
615                  Independence Day (a.k.a. ID4) (1996)
224             Star Wars: Episode IV - A New Hope (1977)
314                                   Forrest Gump (1994)
322                                 Lion King, The (1994)
910     Once Upon a Time in the West (C'era una volta ...
546                            Mission: Impossible (1996)
963                                           Diva (1981)
Name: title, dtype: object